@import "tailwindcss";
@plugin "daisyui";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	--color-primary: oklch(64% 0.208 16.2);
	--color-primary-content: oklch(99% 0 0);
	--color-accent: oklch(52% 0.2 16.2);
	--color-accent-content: oklch(99% 0 0);
}
@plugin "daisyui/theme" {
	name: "dark";
	--color-primary: oklch(64% 0.208 16.2);
	--color-primary-content: oklch(99% 0 0);
	--color-accent: oklch(52% 0.2 16.2);
	--color-accent-content: oklch(99% 0 0);
}
